## Homework:

### DataFrame 1: Student Grades

In [38]:
import pandas as pd

data1 = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Math': [85, 90, 78, 92, 88, 95, 89, 79, 83, 91],
    'English': [78, 85, 88, 80, 92, 87, 90, 84, 79, 88],
    'Science': [90, 92, 85, 88, 94, 79, 83, 91, 87, 89]
}

df1 = pd.DataFrame(data1)
print(df1)

   Student_ID  Math  English  Science
0           1    85       78       90
1           2    90       85       92
2           3    78       88       85
3           4    92       80       88
4           5    88       92       94
5           6    95       87       79
6           7    89       90       83
7           8    79       84       91
8           9    83       79       87
9          10    91       88       89

Exercise 1: Calculate the average grade for each student.

In [23]:
df1['Average grade'] = df1[['Math','English','Science']].mean(axis=1)
print(df1['Average grade'],['Student_ID'])

0    84.333333
1    89.000000
2    83.666667
3    86.666667
4    91.333333
5    87.000000
6    87.333333
7    84.666667
8    83.000000
9    89.333333
Name: Average grade, dtype: float64 ['Student_ID']

Exercise 2: Find the student with the highest average grade.

In [32]:
max_student = df1['Average grade'].max().max()
print('Max_average_grade:',max_student)

Max_average_grade: 91.33333333333333


Exercise 3: Create a new column 'Total' representing the total marks obtained by each student.

In [35]:
df1['Total_grades'] = df1[['Math','Science','English']].sum(axis=1)
print(df1[['Student_ID','Total_grades']])

   Student_ID  Total_grades
0           1           253
1           2           267
2           3           251
3           4           260
4           5           274
5           6           261
6           7           262
7           8           254
8           9           249
9          10           268


Exercise 4: Plot a bar chart to visualize the average grades in each subject.

In [40]:
df1['Average_grade_per_Subject'] = df1[['Math','Science','English']].mean(axis=1)
print(df1['Average_grade_per_Subject'])

0    84.333333
1    89.000000
2    83.666667
3    86.666667
4    91.333333
5    87.000000
6    87.333333
7    84.666667
8    83.000000
9    89.333333
Name: Average_grade_per_Subject, dtype: float64

### DataFrame 2: Sales Data

In [6]:
import pandas as pd

data2 = {
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Product_A': [120, 150, 130, 110, 140, 160, 135, 125, 145, 155],
    'Product_B': [90, 110, 100, 80, 95, 105, 98, 88, 102, 112],
    'Product_C': [75, 80, 85, 70, 88, 92, 78, 82, 87, 90]
}

df2 = pd.DataFrame(data2)

Exercise 1: Calculate the total sales for each product.

Exercise 2: Find the date with the highest total sales.

Exercise 3: Calculate the percentage change in sales for each product from the previous day.

Exercise 4: Plot a line chart to visualize the sales trends for each product over time.

### DataFrame 3: Employee Information

In [7]:
import pandas as pd

data3 = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack'],
    'Department': ['HR', 'IT', 'Marketing', 'IT', 'Finance', 'HR', 'Marketing', 'IT', 'Finance', 'Marketing'],
    'Salary': [60000, 75000, 65000, 80000, 70000, 72000, 68000, 78000, 69000, 76000],
    'Experience (Years)': [3, 5, 2, 8, 4, 6, 3, 7, 2, 5]
}

df3 = pd.DataFrame(data3)

Exercise 1: Calculate the average salary for each department.

Exercise 2: Find the employee with the most experience.

Exercise 3: Create a new column 'Salary Increase' representing the percentage increase in salary from the minimum salary in the dataframe.

Exercise 4: Plot a bar chart to visualize the distribution of employees across different departments.

### DataFrame 4: Customer Orders

In [8]:
import pandas as pd

data4 = {
    'Order_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Customer_ID': [201, 202, 203, 204, 205, 206, 207, 208, 209, 210],
    'Product': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'C', 'B', 'A'],
    'Quantity': [2, 3, 1, 4, 2, 3, 2, 5, 1, 3],
    'Total_Price': [120, 180, 60, 240, 160, 270, 140, 300, 90, 180]
}

df4 = pd.DataFrame(data4)

Exercise 1: Calculate the total revenue from all orders.

Exercise 2: Find the most ordered product.

Exercise 3: Calculate the average quantity of products ordered.

Exercise 4: Plot a pie chart to visualize the distribution of sales across different products.