Creating and Inserting data

In [ ]:
import pypyodbc as odbc

Server_name = r'Sardors-laptop\SQLSERVER2025'
Driver_name = 'SQL Server'

connetcion_string = f'Driver={{{Driver_name}}};Server={Server_name};Trusted_Connection=Yes'

db_name = 'RosterDatabase'

connection = odbc.connect(connetcion_string, autocommit=True)
cursor = connection.cursor()
sql_query = f"""if not exists (select * from sys.sysdatabases where  name = 'RosterDatabase')
        begin
            Create database {db_name}
        end
"""
cursor.execute(sql_query)
print(f'Database {db_name} Created')
cursor.close()

connection = odbc.connect(f'{connetcion_string};DATABASE={db_name};',autocommit=True)
cursor = connection.cursor()
sql_query = 'create table Roster(Name varchar(50), Species varchar(50), Age int)'
cursor.execute(sql_query)
print('Table Roaster Created')
cursor.close()

cursor = connection.cursor()
sql_query = "Insert into Roster values ('Benjamin Sisko','Human',40), ('Jadzia Dax', 'Trill', 300), ('Kira Nerys', 'Bajoran', 29)"
cursor.execute(sql_query)
print('All Values Inserted')


cursor.close()
connection.close()

Database RosterDatabase Created
Table Created
Values Inserted

Updating

In [28]:
Server_name = r'Sardors-laptop\SQLSERVER2025'
Driver_name = 'SQL Server'

# connetcion_string = f'Driver={{{Driver_name}}};Server={Server_name};Trusted_Connection=Yes'

connection = odbc.connect(f'Driver={{{Driver_name}}};Server={Server_name};DATABASE={db_name};Trusted_Connection=Yes',autocommit=True)
cursor = connection.cursor()
sql_query = "Update Roster set Name = 'Ezri Dax' where name = 'Jadzia Dax' "
cursor.execute(sql_query)
cursor.close()
connection.close()

Selecting

In [40]:
Server_name = r'Sardors-laptop\SQLSERVER2025'
Driver_name = 'SQL Server'

# connetcion_string = f'Driver={{{Driver_name}}};Server={Server_name};Trusted_Connection=Yes'

connection = odbc.connect(f'Driver={{{Driver_name}}};Server={Server_name};DATABASE={db_name};Trusted_Connection=Yes',autocommit=True)
cursor = connection.cursor()
sql_query = "Select Name, Age from Roster where Species like '%Bajoran%' "
execution = cursor.execute(sql_query)
displaying = execution.fetchall()
print(displaying)
cursor.close()
connection.close()

[('Kira Nerys', 29)]