Maps

In [2]:
#1

mylist = [1,2,3,4,5,6,7]

x = list(map(lambda x: x * 3,mylist))
x

[3, 6, 9, 12, 15, 18, 21]

In [5]:
#2

first_list = [1,2,3]
second_list = [4,5,6]
third_list = [7,8,9]

alls = list(map(lambda x,y,z: x + y + z, first_list,second_list,third_list ))
alls

[12, 15, 18]

In [8]:
#3

color = ['red','blue','black','white','pink']
listt = list(map(list,color))
listt

[['r', 'e', 'd'],
 ['b', 'l', 'u', 'e'],
 ['b', 'l', 'a', 'c', 'k'],
 ['w', 'h', 'i', 't', 'e'],
 ['p', 'i', 'n', 'k']]

In [9]:
#4
bases_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

power = list(map(lambda x,y : x ** y,bases_num,index))
power

[10,
 400,
 27000,
 2560000,
 312500000,
 46656000000,
 8235430000000,
 1677721600000000,
 387420489000000000,
 100000000000000000000]

In [16]:
#5 

mylist = [4,5,6,9]
def squarer(n):
    return n * n 

result = list(map(squarer,mylist))

print(result)

[16, 25, 36, 81]

In [27]:
#6

chars = {'a','b','E','f','a','i','o','U','a'}

def changer(x):
    return str(x).upper() , str(x).lower()


maa = set(map(changer,chars))

print(maa)
print(changer(chars))

{('E', 'e'), ('O', 'o'), ('U', 'u'), ('F', 'f'), ('I', 'i'), ('B', 'b'), ('A', 'a')}
("{'O', 'U', 'I', 'E', 'B', 'A', 'F'}", "{'o', 'u', 'i', 'e', 'b', 'a', 'f'}")

In [29]:
#7

first_list = [6,5,3,9]
second_list = [0,1,7,7]

def diff(x, y):
    return x + y , x - y


result = list(map(diff,first_list, second_list))
print(result)

[(6, 6), (6, 4), (10, -4), (16, 2)]

In [33]:
#8

num_list = [1,2,3,4]
num_tupel = (0,1,2,3)

# def change4(x):
#     return str(x) 

# result = list(map(change4,num_list))
# print(result)
# result2 = tuple(map(change4,num_tupel))
# print(result2)

result = list(map(str,num_list))
print(result)
answer = tuple(map(str,num_tupel))
print(answer)

['1', '2', '3', '4']
('0', '1', '2', '3')

In [35]:
#9

student_data  = [('Alberto Franco','15/05/2002','35kg'), ('Gino Mcneill','17/05/2002','37kg'), ('Ryan Parkes','16/02/1999', '39kg'), ('Eesha Hinton','25/09/1998', '35kg')]

student_name = list(map(lambda x : x[0],student_data))
student_year = list(map(lambda x : x[1],student_data))
student_weight = list(map(lambda x : x[2][0:2],student_data))

print('Student name: ')
print(student_name)
print('Student birth date: ')
print(student_year)
print('Student weight: ')
print(student_weight)

Student name:
['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
Student birth date:
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
Student weight:
['35', '37', '39', '35']

In [ ]:
#10

def

In [42]:
#11
from array import array

nums = array('i', [1, 2, 3, 4, 5, -15])
# result = sum(nums)
# result

maa = list(map(int,nums))
result = sum(maa)
result

0

In [46]:
#12

from array import array 

nums = array('i', [0,1,2,-1,-5,6,0,-3,-2,3,4,6,8])

def ratio(x):
    n = len(nums)   # ratio ni topish uchun nechta raqam borligi kerak
    n1 = 0 
    n2 = 0
    n3 = 0
    for i in nums:
        if i < 0:
            n1 = n1 + 1
        elif i == 0:
            n2 = n2 + 1 
        else: 
            n3 = n3 + 1

    return round(n3/n,2) , round(n2/n,2) , round(n1 / n,2)

ratio(nums)

(0.54, 0.15, 0.31)

In [49]:
#13

first_list = [1,2,3,4,5,6,7,8]
second_list = [2,2,3,1,2,6,7,9]

result = list(map(lambda x, y : x == y, first_list, second_list))
print(sum(result))

4

In [65]:
#14
import random
first_list = [1,2,7,8,3,7]
second_list = [4,3,8,9,4,3,8,9]
result = first_list + second_list
random.shuffle(result)
print(result)

[3, 2, 8, 7, 7, 1, 9, 9, 4, 4, 3, 3, 8, 8]

In [82]:
#15

mydict = {'Science':[88,89,62,95], 'Language':[77,78,4,80]}

def myfunction(keys , values):
    return dict(zip(keys , values))

keys = list(mydict.keys())       


result = list(map(lambda x: myfunction(keys, x),zip(*mydict.values())))
print(result)
# print(list(zip(*mydict.values())))

[{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 4}, {'Science': 95, 'Language': 80}]

In [84]:
#16

original_list = ['Red', 'Green', 'Black', 'Orange']

result = list(map(list,original_list))
print(result)

[['R', 'e', 'd'], ['G', 'r', 'e', 'e', 'n'], ['B', 'l', 'a', 'c', 'k'], ['O', 'r', 'a', 'n', 'g', 'e']]

In [93]:
#17

original_list = [('red' , 'pink'),('white','black'),('orange','green')]
def joiner(x):
    result = list(map(' '.join,x))
    return result

names = [('Sheridan', 'Gentry'), ('Laila', 'Mckee'), ('Ahsan', 'Rivas'), ('Conna', 'Gonzalez')]

joiner(names)

['Sheridan Gentry', 'Laila Mckee', 'Ahsan Rivas', 'Conna Gonzalez']

Filter functions

In [94]:
#1

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = list(filter(lambda x : x % 2 != 0,original_list))
print(result)

[1, 3, 5, 7, 9]

In [107]:
#2
original_list =  ['Hello', 'w3resource', 'Python', 'Filter', 'Learning']

result = list(filter(lambda x : x.isupper(), ''.join(original_list)))
result

['H', 'P', 'F', 'L']

In [109]:
#3
original_list = [20,15,24,37,23,11,7]

def filtering_value(n):
    result = list(filter(lambda x: x <= n, original_list))
    return result

filtering_value(37)

[20, 15, 24, 37, 23, 11, 7]

In [112]:
#4

original_list = ['Elita', 'Vitold', 'Audovacar', 'Kerensa', 'Ramana', 'Iolanda', 'Landyn']
x = ['A', 'E','I','O','U']
result = list(filter(lambda y : y[0].upper() in x ,original_list))
result

['Elita', 'Audovacar', 'Iolanda']

In [124]:
#5
original_list = ['', 'w3resource', 'Filter', '', 'Python', '']
result = []
def empty_finder(original_list):
    return original_list.strip() != ''
    # for i in original_list:
    #     if i.strip() == '':
    #         pass
    #     else:
    #         result.append(i)
    # return result

solution = list(filter(empty_finder,original_list))
solution

['w3resource', 'Filter', 'Python']

In [2]:
#6

students = [
    {"name": "Denis Helio", "age": 17, "grade": 97},
    {"name": "Hania Mehtap", "age": 16, "grade": 92},
    {"name": "Kelan Stasys", "age": 17, "grade": 90},
    {"name": "Velvet Mirko", "age": 16, "grade": 94},
    {"name": "Delores Aeneas", "age": 17, "grade": 100},
]


result = list(filter(lambda x: x['grade']>= 95,students))
result

[{'name': 'Denis Helio', 'age': 17, 'grade': 97},
 {'name': 'Delores Aeneas', 'age': 17, 'grade': 100}]

In [5]:
#7

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

def is_prime(x):
    if x <= 1:
        return False
    if x <= 3:
        return True
    if x % 2 == 0 and x % 3 == 0:
        return False
    i = 5 
    while i * i <= x:
        if x % i == 0 or x(i +2) == 0:
            return False
        i += 6 
    return True 

result = list(filter(is_prime,numbers))
result

[2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17]

In [6]:
#8
words = ["Red", "Green", "Orange", "White", "Black", "Pink", "Yellow"]

result = list(filter(lambda x : len(x) > 5, words ))
result

['Orange', 'Yellow']

In [7]:
#9

strings = ["Red", "Green", "Orange", "White", "Black", "Pink", "Yellow"]
substring = "l"

result = list(filter(lambda x : substring in x, strings))
result

['Black', 'Yellow']

In [13]:
#10
import datetime

date_strings = ["2023-07-11", "2022-02-22", "2024-05-11", "2025-12-31", "2021-01-01"]

currenttime = datetime.datetime.now()
currenttime

result = list(filter(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d') > currenttime, date_strings))
result

['2025-12-31']

In [15]:
#11

cities = [
    ("New York", 8500000),
    ("Los Angeles", 4000000),
    ("Chicago", 2700000),
    ("Houston", 2300000),
    ("Phoenix", 1600000),
    ("Philadelphia", 1500000),
    ("San Antonio", 1500000),
]


def population(x):
    return x[1] >= 2000000

result = list(filter(population,cities))
result

[('New York', 8500000),
 ('Los Angeles', 4000000),
 ('Chicago', 2700000),
 ('Houston', 2300000)]